<div>
  <%= if @room.users[@id] do %>
    <%= if @room.users[@id].nickname do %>
      <p>Sala: <strong><%= @room.name %></strong></p>
      <p>Player: <strong><%= @room.users[@id].nickname %></strong></p>

      <div class="vote-card-container">
        <%= for vote <- @votes do %>
          <%= if @room.users[@id].vote == vote do %>
            <button class="vote-card voted-card" phx-click="vote" {[phx_value_vote: vote, disabled: @room.show_votes?]} ><%= vote %></button>
          <% else %>
            <button class="vote-card" phx-click="vote" {[phx_value_vote: vote, disabled: @room.show_votes?]} ><%= vote %></button>
          <% end %>
        <% end %>
      </div>

      <br /><br />

      <h2>Users in room:</h2>
      <div class="cards-container">
        <%= for {user_id, user} <- @room.users do %>
          <div class="card-container">
            <%= if user_id == @id do %>
              <span><%= user.nickname %> (me)</span>
            <% else %>
              <%= if @room.show_votes? do %>
                <span><%= user.nickname %></span>
              <% else %>
                <span><%= user.nickname %></span>
              <% end %>
            <% end %>
            <%= if @room.show_votes? do %>
              <div class="card flipped">
                <div class="card-inner">
                  <div class="card-front">
                  </div>
                  <div class="card-back">
                      <%= user.vote %>
                  </div>
                </div>
              </div>
            <% else %>
              <div class="card">
                <div class="card-inner">
                  <%= if user.voted? do %>
                    <div class="card-front">
                    </div>
                  <% else %>
                    <div class="card-front card-voted">
                    </div>
                  <% end %>
                  <div class="card-back">
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>

      <br /><br />

      <div>
        <%= if @room.users[@id] do %>
          <%= if @room.users[@id].admin? do %>
            <h2>Admin actions: </h2>
            <button phx-click="display-votes" title="display votes">DISPLAY VOTES</button>
            <button phx-click="reset-votes" title="display votes">RESET VOTES</button>
          <% end %>
        <% end %>
      </div>
    <% else %>
      <form phx-submit="submit-form">
        <p>Choose a nickname</p>
        <input type="text" name="nickname" />
        <button type="submit" title="Choose nickname">Choose nickname</button>
      </form>
    <% end %>
  <% end %>
</div>