/* This file is for your main application CSS */
@import "./phoenix.css";

/* Alerts and form errors used by phx.new */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

/* LiveView specific classes for your customization */
.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-loading {
  cursor: wait;
}

.phx-modal {
  opacity: 1 !important;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.phx-modal-content {
  background-color: #fefefe;
  margin: 15vh auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.phx-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.fade-in-scale {
  animation: 0.2s ease-in 0s normal forwards 1 fade-in-scale-keys;
}

.fade-out-scale {
  animation: 0.2s ease-out 0s normal forwards 1 fade-out-scale-keys;
}

.fade-in {
  animation: 0.2s ease-out 0s normal forwards 1 fade-in-keys;
}
.fade-out {
  animation: 0.2s ease-out 0s normal forwards 1 fade-out-keys;
}

@keyframes fade-in-scale-keys {
  0% {
    scale: 0.95;
    opacity: 0;
  }
  100% {
    scale: 1;
    opacity: 1;
  }
}

@keyframes fade-out-scale-keys {
  0% {
    scale: 1;
    opacity: 1;
  }
  100% {
    scale: 0.95;
    opacity: 0;
  }
}

@keyframes fade-in-keys {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out-keys {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.while-submitting {
  display: none;
}

.inputs {
  display: block;
}

.vote-card-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.vote-card {
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: dodgerblue;
  color: white;
  font-size: 30px;
  width: 56px;
  height: 77px;
}

.voted-card {
  background-color: #606c76;
  border-color: #606c76;
}

.cards-container {
  flex: 1;
  display: flex;
  align-items: center;
}

.card-container {
  flex: 1;
  margin-left: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card {
  padding: 0;
  margin: 0;
  width: 56px;
  height: 77px;
  background-color: transparent;
  perspective: 1000px;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card-front,
.card-back {
  border-radius: 5px;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-front {
  border: 2px solid dodgerblue;
  background-color: #e5e5f7;
  background-image: linear-gradient(135deg, dodgerblue 25%, transparent 25%),
    linear-gradient(225deg, dodgerblue 25%, transparent 25%),
    linear-gradient(45deg, dodgerblue 25%, transparent 25%),
    linear-gradient(315deg, dodgerblue 25%, #e5e5f7 25%);
  background-position: 10px 0, 10px 0, 0 0, 0 0;
  background-size: 15px 15px;
  background-repeat: repeat;
}

.card-back {
  padding-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid dodgerblue;
  color: dodgerblue;
  font-size: 30px;
  transform: rotateY(180deg);
}

.card-voted {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 30px;
  background-image: none;
  background-color: #606c76 !important;
  border-color: #606c76;
}

.flipped .card-inner {
  transform: rotateY(180deg);
}
